{% extends 'admin_template/base_template.html' %}

{% block home_content %}

    <div class="container-fluid">
        <h3>Student Approval For Project</h3>
          <div class="row">
              <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card btn btn-primary">
                        <a href="" class="btn btn-primary">Project Approvals</a>
                    </div>
                    <div class="card-body">
                        <div class="table">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Student ID</th>
                            <th>Student Name</th>
                            <th>Apply Date</th>
                            <th>Project Title</th>
                            <th>Abstract</th>
                            <th>Conclusion</th>
                            <th>Action</th>
                        </tr>
                        {% for approval in project_approvals %}
                        <tr>
                            <td>{{ approval.id }}</td>
                            <td>{{ approval.student_id.admin.id }}</td>
                            <td>{{ approval.student_id.admin.first_name }} {{ approval.student_id.admin.last_name }}</td>
{#                            <td>{{ feedback.student_id.session_year_id.session_start_year }} - {{ feedback.student_id.session_year_id.session_end_year }}</td>#}
                            <td>{{ approval.apply_date }}</td>
                            <td>{{ approval.project_title }}</td>
                            <td>{{ approval.abstract }}</td>
                            <td>{{ approval.conclusion }}</td>
                            <td>
                                {% if approval.approval_status == 0 %}
                                <a href="{% url 'student_project_approve' project_id=approval.id %}" class="btn btn-success btn-sm d-block" >Approve</a>
                                <a class="btn btn-danger btn-sm d-block" href="{% url 'student_project_disapprove' project_id=approval.id %}" >Disapprove</a>
                                {% elif approval.approval_status == 1  %}
                                 <button class="btn btn-warning" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Approved</button>
                                {% else %}
                                <button class="btn btn-danger" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Disapproved</button>
                                {% endif %}
                            </td>

                        </tr>
                        {% endfor %}
                    </table>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div>

    <!-- /.content -->

{% endblock home_content %}
